/* ---- Wrapper ---- */
@import "./wrapper";

/* ---- navbar ---- */
@import "./navbar";

/* ---- footer ---- */
@import "./footer";

/* ---- upcomming events ---- */
@import "./upcommingEvents";

/* ---- carousel ---- */
@import "./carousal";

/* ---- event card ---- */
@import "./toast";
