.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapperContent {
    width: 1250px;
    display: flex;
    padding: 4rem 0;
    box-sizing: border-box;
  }
}
