@import "../foundations/mixins";

.authContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-lightGray);

  @include miniPortraitTablet {
    padding: 0 20px;
  }

  .formBlock {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
    padding: 40px 30px;
    box-sizing: border-box;

    border: 1px solid var(--primary-color-pink);
    border-radius: 5px;
    background-color: var(--white);

    // background-color: aqua;

    @include miniPortraitTablet {
      width: 100%;
    }

    h1 {
      font-size: 30px;
      font-weight: 600;
      color: var(--primary-color-pink);
    }

    input {
      width: 100%;
      height: 45px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid var(--primary-color-pink);
      padding: 0 10px;
      outline: none;
      transition: all ease 0.3s;

      &:focus {
        border: 1.5px solid var(--primary-color-blue);
      }
    }

    span {
      font-size: 16px;
      color: var(--primary-color-blue);

      .authLink {
        text-decoration: none;
        color: var(--primary-color-pink);
        cursor: pointer;
      }
    }

    .authError {
      height: 5px;
      display: flex;
      align-items: center;

      span {
        font-size: 16px;
        color: var(--primary-color-pink);
      }
    }

    button {
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: none;
      background: var(--primary-color-pink);
      color: white;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
      transition: all ease 0.3s;

      &:hover {
        background: var(--primary-color-blue);
      }
    }
  }
}
