@import "../../styles/foundations/mixins";

.eventDetailsPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-lightGray);

  .eventDetailsPage__container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 40px;

    @include mediumDesktop {
      padding: 0 20px;
      box-sizing: border-box;
    }

    @include tablet {
      grid-template-columns: 1fr;
    }

    .eventDetailsPage__container__left {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .edcl__container {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        padding: 30px;
        box-sizing: border-box;
        border: 1px solid var(--gray);
        border-radius: 10px;
        gap: 30px;

        background-color: var(--bg-white);

        @include tablet {
          padding: 20px;
          gap: 10px;
        }

        .edcl__image {
          width: 100%;
          height: 400px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .edcl__details {
          display: flex;
          flex-direction: column;

          padding-bottom: 30px;
          border-bottom: 1px solid var(--gray);

          span {
            font-size: 18px;
            text-align: justify;
            line-height: 1.5;
          }
        }

        .edcl__tagButtonContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding: 5px 10px;
          box-sizing: border-box;

          .edcl__tagButtonContainer__tag {
            display: flex;
            color: var(--primary-color-pink);

            gap: 10px;

            span {
              font-size: 20px;
            }

            i {
              font-size: 25px;
            }
          }
        }
      }
    }

    .eventDetailsPage__container__right {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      gap: 40px;

      .edpR__detailsContainer {
        margin-top: 100px;
        display: flex;
        flex-direction: column;

        gap: 15px;
        padding: 30px;
        box-sizing: border-box;
        border: 1px solid var(--gray);
        border-radius: 10px;
        background-color: var(--bg-white);

        @include tablet {
          margin-top: 20px;
          padding: 20px;
        }

        .edpR__detailsContainer__titleAndcart {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            font-size: 25px;
            font-weight: 600;

            padding-bottom: 10px;
            border-bottom: 2px solid var(--primary-color-pink);
          }

          i {
            font-size: 25px;
            color: var(--primary-color-pink);
            cursor: pointer;
          }
        }

        .edpR__detailsContainer__details {
          display: flex;
          flex-direction: column;

          gap: 15px;

          .edpR__row {
            display: grid;
            grid-template-columns: 0.6fr 1fr;

            gap: 40px;

            .edpR__row__left {
              span {
                font-size: 16px;
                font-weight: 550;

                @include tablet {
                  font-size: 16px;
                }
              }
            }

            .edpR__row__right {
              span {
                font-size: 16px;
                color: var(--gray);

                @include tablet {
                  font-size: 16px;
                }
              }
            }
          }
        }

        .mapContainer {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          gap: 20px;

          span {
            width: max-content;
            font-size: 23px;
            font-weight: 600;
            padding-bottom: 5px;
            border-bottom: 2px solid var(--primary-color-pink);
          }

          iframe {
            width: 100%;
            height: 300px;
            border-radius: 10px;
          }
        }
      }

      .organizers__container {
        display: flex;
        flex-direction: column;

        padding: 30px;
        box-sizing: border-box;
        border: 1px solid var(--gray);
        border-radius: 10px;
        background-color: var(--bg-white);

        .organizerDetails {
          display: flex;
          flex-direction: column;

          gap: 15px;

          .organizerDetailsr__title {
            display: flex;
            span {
              font-size: 25px;
              font-weight: 600;
              padding-bottom: 5px;
              border-bottom: 2px solid var(--primary-color-pink);
            }
          }

          .orginazerDetails__row {
            display: grid;
            grid-template-columns: 0.6fr 1fr;

            gap: 40px;

            .orginazerDetails__row__left {
              span {
                font-size: 16px;
                font-weight: 550;

                @include tablet {
                  font-size: 16px;
                }
              }
            }

            .orginazerDetails__row__right {
              span {
                font-size: 16px;
                color: var(--gray);

                @include tablet {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }

      .getTicketContainer {
        display: flex;
        flex-direction: column;

        padding: 30px;
        box-sizing: border-box;
        border: 1px solid var(--gray);
        border-radius: 10px;
        gap: 20px;
        background-color: var(--bg-white);

        .getTicketContainer__title {
          display: flex;
          span {
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 5px;
            border-bottom: 2px solid var(--primary-color-pink);
          }
        }

        .getTicketContainer__row {
          display: grid;
          grid-template-columns: 0.6fr 1fr;

          gap: 40px;

          .getTicketContainer__row__left {
            span {
              font-size: 16px;
              font-weight: 550;

              @include tablet {
                font-size: 16px;
              }
            }
          }

          .getTicketContainer__row__right {
            span {
              font-size: 16px;
              color: var(--gray);

              @include tablet {
                font-size: 16px;
              }
            }
          }
        }

        .getTicket__buttonContainer {
          width: 100%;
          display: flex;

          .getTicket__btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            height: 40px;
            border: none;
            border-radius: 10px;
            background-color: var(--primary-color-pink);
            color: var(--bg-white);
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            &:hover {
              background-color: var(--primary-color-blue);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
}
