@import "../../styles//foundations/mixins.scss";

.profilePage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .profiledetailsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mediumDesktop {
      padding: 0 30px;
    }

    .profileContailer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 1rem 0;
      box-sizing: border-box;

      .profileImage {
        width: 100%;
        height: 200px;
        background-color: var(--bg-lightGray);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .profileDetails {
        display: flex;
        flex-direction: column;

        span {
          font-size: 1.5rem;
          font-weight: 500;
          color: var(--text-black);
          margin: 0.5rem 0;
          text-align: center;
        }
      }
    }

    .purchesTicket__container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .purchesTicket__header {
        span {
          font-size: 25px;
          font-weight: 700;
          padding-bottom: 4px;
          border-bottom: 3px solid var(--primary-color-pink);
          color: var(--text-black);
          margin: 0.5rem 0;
          text-align: center;
        }
      }

      .loading {
        width: 100%;
        display: flex;
        margin-top: 15px;

        h3 {
          font-size: 20px;
          font-weight: 700;
          color: var(--text-pink);
          text-align: center;
        }
      }

      .TicketCardContainer {
        margin-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include smallDesktop {
          grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
          grid-template-columns: repeat(1, 1fr);
        }

        .TicketCard {
          display: flex;
          flex-direction: column;

          gap: 10px;
          padding: 20px;
          border: 2px solid var(--pink);
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            border: 2px solid var(--primary-color-pink);
            box-shadow: 0 0 10px var(--primary-color-pink);
            transition: all 0.3s ease-in-out;
          }

          .TicketCard__header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              font-size: 20px;
              font-weight: 700;
              color: var(--text-pink);
              text-align: center;
            }
          }

          .ticketCard__row {
            display: flex;
            justify-content: space-between;

            @include largeMobile {
              flex-direction: column;
            }
          }

          .ticketCard__row > :nth-child(1) {
            font-size: 15px;
            font-weight: 700;
            color: var(--text-pink);
          }

          .ticketCard__row > :nth-child(2) {
            font-size: 15px;
            font-weight: 700;
            color: var(--text-gray);
            text-align: right;

            @include largeMobile {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
