* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  // BRAND COLOR
  --white: #fff;
  --black: #000;
  --gray: #808080;
  --lightGray: #e2e2e2;
  --pink: #f53f7b;
  --blue: #4862c4;

  // TEXT COLOR
  --text-white: #fff;
  --text-black: #000;
  --text-gray: #808080;
  --text-pink: #f53f7b;
  --text-blue: #4862c4;

  --primary-color-pink: #f53f7b;
  --primary-color-blue: #4862c4;

  // BACKGROUND COLOR
  --bg-white: #fff;
  --bg-black: #000;
  --bg-gray: #808080;
  --bg-lightGray: #f2f2f2;
  --bg-pink: #f53f7b;
  --bg-blue: #4862c4;
}

// hode scrollbar
::-webkit-scrollbar {
  display: none;
}

// hide number input arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  .leftLoader {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-pink);
    text-align: center;
  }
}
